<section class="py-3">
  <div class="container">
    <div class="header bg-white p-3 overflow-hidden">

      <div class="row">
        <div class="col-6">
          <div>

      <h2>المنتجات والخدمات</h2>
      <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء .</p>
          </div>
        </div>
        <div class="col-6 d-flex justify-content-end">

          <div class="position-relative" style="width: 268px; height: 116px; background: white; border-radius: 6.61px">
            <div style="width: 147px; height: 157.97px; position: relative">
              <div style="width: 103.28px; height: 144.21px; left: 24.09px; top: 9.74px; position: absolute; background: #D0E8FF; border-radius: 16px"></div>
              <div style="width: 101.75px; height: 115.14px; left: 4.58px; top: 118.38px; position: absolute; opacity: 0.20">
                <div style="width: 101.75px; height: 115.14px; left: 0px; top: 0px; position: absolute; background: #CEE2E4; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                <div style="width: 231.78px; height: 161.86px; left: 137px; top: 59.29px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0">
                  <div style="width: 19.03px; height: 127.51px; left: -0px; top: -212.75px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -3.76px; top: -206.56px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -7.36px; top: -200.27px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -10.81px; top: -193.90px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -14.09px; top: -187.44px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -17.19px; top: -180.89px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -20.10px; top: -174.26px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -22.80px; top: -167.53px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -25.25px; top: -160.71px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -27.42px; top: -153.80px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -29.27px; top: -146.79px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -30.73px; top: -139.69px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -31.74px; top: -132.52px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -32.21px; top: -125.29px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -32.02px; top: -118.05px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -31.04px; top: -110.86px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -29.15px; top: -103.87px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -25.73px; top: -96.03px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -23.01px; top: -89.31px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -20.85px; top: -82.40px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -19.28px; top: -75.33px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -18.28px; top: -68.15px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -17.84px; top: -60.92px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -17.95px; top: -53.67px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -18.57px; top: -46.45px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -19.67px; top: -39.29px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -21.22px; top: -32.21px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -23.19px; top: -25.24px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -25.56px; top: -18.39px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -33.20px; top: -1.93px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                  <div style="width: 19.03px; height: 127.51px; left: -34.35px; top: 0px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 4px; border: 1px rgba(153, 161, 183, 0.60) solid"></div>
                </div>
              </div>
              <div style="width: 83.20px; height: 134.91px; left: 80.01px; top: 0px; position: absolute; transform: rotate(36.37deg); transform-origin: 0 0; background: #0771DE; border-radius: 25px"></div>
            </div>


            <div class="position-absolute top-50 start-50">
              <div style="width: 80.66px; height: 85.11px; position: relative">
                <div style="width: 59.66px; height: 55.11px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 3.896469831466675px 12.988232612609863px rgba(0, 0, 0, 0.10); border-radius: 3.41px"></div>
                <div style="width: 34.58px; height: 2.84px; left: 13.07px; top: 39.21px; position: absolute; background: #BFD4E4"></div>
                <div style="width: 18.86px; height: 2.27px; left: 20.93px; top: 44.89px; position: absolute; opacity: 0.50; background: #DDEAF3"></div>
                <div style="width: 24.43px; height: 25.27px; left: 17.61px; top: 6.82px; position: absolute">
                  <div style="width: 18px; height: 4.11px; left: 3.22px; top: 9.84px; position: absolute; background: #F4AA73"></div>
                  <div style="width: 13.61px; height: 13.81px; left: 5.83px; top: 3.97px; position: absolute; background: #FFEF92"></div>
                  <div style="width: 11.94px; height: 9.55px; left: 4.99px; top: 8.22px; position: absolute; background: #FEE45A"></div>
                  <div style="width: 9.99px; height: 13.37px; left: 11.23px; top: 11.90px; position: absolute; background: #F4AA73"></div>
                  <div style="width: 9px; height: 13.37px; left: 3.22px; top: 11.90px; position: absolute; background: #E29A6C"></div>
                  <div style="width: 1.50px; height: 11.66px; left: 3.22px; top: 11.90px; position: absolute; background: #D48C64"></div>
                  <div style="width: 11.91px; height: 5px; left: 0.30px; top: 12.23px; position: absolute; background: #FBBD80"></div>
                  <div style="width: 4.79px; height: 3.68px; left: 0px; top: 11.90px; position: absolute; background: #F4AA73"></div>
                  <div style="width: 12.22px; height: 5.34px; left: 12.22px; top: 11.90px; position: absolute; background: #FBBD80"></div>
                  <div style="width: 18.19px; height: 6.71px; left: 3.12px; top: 0px; position: absolute">
                    <div style="width: 0.75px; height: 2.29px; left: 8.72px; top: 0px; position: absolute; background: #FEE45A"></div>
                    <div style="width: 0.75px; height: 2.29px; left: 8.72px; top: 0px; position: absolute; background: #FEE45A"></div>
                    <div style="width: 1.74px; height: 1.93px; left: 11.89px; top: 3.27px; position: absolute; background: #FEE45A"></div>
                    <div style="width: 1.74px; height: 1.93px; left: 11.89px; top: 3.27px; position: absolute; background: #FEE45A"></div>
                    <div style="width: 1.93px; height: 1.74px; left: 16.25px; top: 4.97px; position: absolute; background: #FEE45A"></div>
                    <div style="width: 1.93px; height: 1.74px; left: 16.25px; top: 4.97px; position: absolute; background: #FEE45A"></div>
                    <div style="width: 1.74px; height: 1.93px; left: 4.56px; top: 3.27px; position: absolute; background: #FEE45A"></div>
                    <div style="width: 1.74px; height: 1.93px; left: 4.56px; top: 3.27px; position: absolute; background: #FEE45A"></div>
                    <div style="width: 1.93px; height: 1.74px; left: 0px; top: 4.97px; position: absolute; background: #FEE45A"></div>
                    <div style="width: 1.93px; height: 1.74px; left: 0px; top: 4.97px; position: absolute; background: #FEE45A"></div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>









    </div>
  </div>
</section>
